<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
퀴즈목록
<br>
<table border="3">
    <tr>
        <th>ID</th>
        <th>작성자</th>
        <th>문제</th>
        <th>OX</th>
        <th>플레이</th>
    </tr>
    <tr th:each="quiz : ${quizDto}" th:object="${quiz}">
        <td th:text="*{id}"></td>
        <td th:text="*{text}"></td>
        <td th:text="*{user}"></td>
        <td>
            <span th:if="*{o}">O</span>
            <span th:if="*{x}">X</span>
        </td>
        <td>
            1
        </td>
    </tr>
</table>
</body>
</html>